@media (min-width: 720px) and (max-width: 1024px) {

    #nav #nav-left h2 {
        font-size: 9vw;
        width: fit-content;
        line-height: 10vw;
    }

    #nav #nav-right #nav-icons {
        display: none;
    }


    #nav #nav-right #nav-links .menu-icon {
        display: flex;
        font-size: 50px;
        cursor: pointer;
        margin-bottom: 2vw;
        margin-right: 1vw;
    }

    #nav #nav-right #nav-links .menu-icon i {
        font-size: 30px;
        padding: 8px 15px;
    }

    
     #nav #nav-right #nav-links .sidebar {
        display: flex;
    }
    

    /* Sidebar Styles */
    .sidebar {
        height: 50vh;
        width: 0;
        position: fixed;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        overflow-x: hidden;
        transition: 0.4s;
        padding-top: 60px;
        z-index: 9999;
        margin-top: -3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    /* Sidebar Links */
    .sidebar a {
        padding: 15px;
        text-decoration: none;
        font-size: 35px;
        font-family: c;
        color: white;
        display: block;
        transition: 0.3s;
    }
    
    /* Close Button */
    .close-btn {
        position: absolute;
        top: 10px;
        right: 60px;
        font-size: 9vw;
        color: white;
        cursor: pointer;
        font-family: a;
    }

    .page2 .upper {
        height: 30vh;
    }

    .page2 .upper h1 {
        font-size: 8vw;
    }

    .page2 .upper h2 {
        font-size: 3vw;
        margin-top: 3vw;
        margin-bottom: -4vw;
    }

    .page3 .upper {
        height: 30vh;
    }

    .page3 .upper h1 {
        font-size: 8vw;
    }

    .page3 .upper h2 {
        font-size: 3vw;
        margin-top: 3vw;
        margin-bottom: -4vw;
    }


    .page3 .blog1 {
        height: 80vh;
        flex-direction: column;
    }

    .page3 .blog1 .blogs {
        width: 100%;
        margin-left: 5vw;
    }

    .page3 .blog1 .txt {
        width: 100%;
        margin-top: 15vw;
        justify-content: flex-start;
    }

    .page3 .blog1 .txt h1 {
        font-size: 8vw;
    }

    .page3 .blog1 .txt h3 {
        width: fit-content;
        font-size: 2.8vw;
        font-weight: 400;
        line-height: 4.2vw;
    }

    .page3 .blog2 {
        height: 80vh;
        flex-direction: column;
    }

    .page3 .blog2 .blogs {
        width: 100%;
        margin-left: 5vw;
    }

    .page3 .blog2 .txt {
        width: 100%;
        margin-top: 5vw;
        justify-content: flex-start;
    }

    .page3 .blog2 .txt h1 {
        font-size: 8vw;
    }

    .page3 .blog2 .txt h3 {
        width: fit-content;
        font-size: 2.8vw;
        font-weight: 400;
        line-height: 4.2vw;
    }

    .page3 .blog3 {
        height: 80vh;
        flex-direction: column;
    }

    .page3 .blog3 .blogs {
        width: 100%;
        margin-left: 5vw;
    }

    .page3 .blog3 .txt {
        width: 100%;
        margin-top: 15vw;
        justify-content: flex-start;
    }

    .page3 .blog3 .txt h1 {
        font-size: 8vw;
    }

    .page3 .blog3 .txt h3 {
        width: fit-content;
        font-size: 2.8vw;
        font-weight: 400;
        line-height: 4.2vw;
    }


    .page-gallery .upper {
        height: 40vh;
    }

    .page-gallery .upper h1 {
        font-size: 8vw;
    }

    .page-gallery .upper h2 {
        font-size: 3vw;
        margin-top: 3vw;
        margin-bottom: -4vw;
    }


    .page-gallery .mid {
        height: 50vh;
    }


    .page-gallery .down {
        height: 120vh;
    }

    .page-gallery .down .cont {
        flex-direction: column;
    }

    .page-gallery .down .cont .txt1 {
        width: 100%;
        margin-top: 2vw;
    }

    .page-gallery .down .cont .txt1 h2 {
        font-size: 5vw;
        margin-top: 6vw;
    }

    .page-gallery .down .cont .txt1 p {
        font-size: 2.5vw;
        font-weight: 100;
        line-height: 3.5vw;
        margin-top: 2vw;
    }

    .page-gallery .down .cont .txt2 {
        width: 100%;
    }

    .page-gallery .down .cont .txt2 .heading h3 {
        font-size: 3vw;
    }

    .page-gallery .down .cont .txt2 .details {
        margin-top: 3.5vw;
    }

    .page-gallery .down .cont .txt2 .details i {
        font-size: 2.8vw;
    }

    .page-gallery .down .cont .txt2 .details p {
        font-size: 3vw;
    }

    .page-gallery .down .cont .txt2 .social {
        margin-top: 1.4vw;
    }

    .page-gallery .down .cont .txt2 .social h3 {
        font-size: 2.9vw;
    }

    .page-gallery .down .cont .txt2 .social .links i {
        font-size: 3vw;
    }


    .page-gallery .end .upper {
        height: 40vh;
    }

    .page-gallery .end .upper h1 {
        font-size: 11vw;
    }


    .image-container {
        margin-left: 3vw;
    }


    .page4 .upper {
        height: 40vh;
    }

    .page4 .upper h1 {
        font-size: 8vw;
    }

    .page4 .upper h2 {
        font-size: 3vw;
        margin-top: 3vw;
        margin-bottom: -4vw;
    }

    .page4 .down {
        height: 130vh;
        flex-direction: column;
    }

    .page4 .down .down-left {
        width: 100%;
        margin-top: 2vw;
    }

    .page4 .down .down-right {
        width: 100%;
    }

     .page4 .down .down-right .txt {
        height: 30%;
        margin-top: 10vw;
     }

    .page4 .down .down-right .txt h2 {
        font-size: 6vw;
        text-align: center;
    }

    .page4 .down .down-right .txt h3 {
        font-size: 3.2vw;
        text-align: center;
        width: fit-content;
    }

     .page4 .end1 {
        height: 15vh;
    }

    .page4 .end1 .txt-up h3 {
        font-size: 3vw;
    }

    .page4 .end1 .txt-down h3 {
        font-size: 2.8vw;
    }


}




@media (max-width: 480px){
    
    #nav {
        height: 15vh;
    }
    
    #nav #nav-left h2 {
        font-size: 12vw;
        line-height: 10vw;
    }

    #nav #nav-right #nav-icons {
        display: none;
    }

    #nav #nav-right #nav-links .menu-icon {
        display: flex;
        font-size: 30px;
        cursor: pointer;
        margin-bottom: 2vw;
        margin-right: 1vw;
    }
    
     #nav #nav-right #nav-links .sidebar {
        display: flex;
    }
    

    /* Sidebar Styles */
    .sidebar {
        height: 50vh;
        width: 0;
        position: fixed;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        overflow-x: hidden;
        transition: 0.4s;
        padding-top: 60px;
        z-index: 9999;
        margin-top: -9vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    /* Sidebar Links */
    .sidebar a {
        padding: 15px;
        text-decoration: none;
        font-size: 25px;
        font-family: c;
        color: white;
        display: block;
        margin-right: 15px;
        transition: 0.3s;
    }
    
    /* Close Button */
    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 9vw;
        color: white;
        cursor: pointer;
        font-family: a;
    }


    #nav #nav-right #nav-links i {
        font-size: 35px;
    }

    .page1 {
        height: 80vh;
    }

    .page1 img{
        object-position: end;
    }

    .page2 .upper {
        height: 30vh;
    }

    .page2 .upper h1 {
        font-size: 11vw;
    }

    .page2 .upper h2 {
        font-size: 4.5vw;
        margin-top: 3vw;
        margin-bottom: -11vw;
    }


    .page3 .upper {
        height: 30vh;
    }

    .page3 .upper h1 {
        font-size: 11vw;
    }

    .page3 .upper h2 {
        font-size: 4.5vw;
        margin-top: 3vw;
        margin-bottom: -11vw;
    }


    .page3 .blog1 {
        height: 80vh;
        flex-direction: column;
    }

    .page3 .blog1 .blogs {
        width: 100%;
        margin-left: 5vw;
    }

    .page3 .blog1 .txt {
        width: 100%;
        margin-top: 15vw;
        justify-content: flex-start;
    }

    .page3 .blog1 .txt h1 {
        font-size: 8vw;
    }

    .page3 .blog1 .txt h3 {
        width: fit-content;
        font-size: 3.4vw;
        font-weight: 400;
        line-height: 4.2vw;
    }



    .page3 .blog2 {
        height: 60vh;
        flex-direction: column;
    }

    .page3 .blog2 .blogs {
        width: 100%;
        margin-left: 5vw;
    }

    .page3 .blog2 .txt {
        height: 50%;
        width: 100%;
        justify-content: flex-start;
    }

    .page3 .blog2 .txt h1 {
        font-size: 8vw;
    }

    .page3 .blog2 .txt h3 {
        width: fit-content;
        font-size: 3.4vw;
        font-weight: 400;
        line-height: 4.2vw;
    }



    .page3 .blog3 {
        margin-top: 20vw;
        height: 100vh;
        flex-direction: column;
    }

    .page3 .blog3 .blogs {
        width: 100%;
        margin-left: 5vw;
    }

    .page3 .blog3 .txt {
        margin-top: 15vw;
        width: 100%;
        justify-content: flex-start;
    }

    .page3 .blog3 .txt h1 {
        font-size: 8vw;
    }

    .page3 .blog3 .txt h3 {
        width: fit-content;
        font-size: 3.4vw;
        font-weight: 400;
        line-height: 4.2vw;
    }

    .page-gallery {
        margin-top: -20vw;
    }


    .page-gallery .upper {
        height: 20vh;
    }

    .page-gallery .upper h1 {
        font-size: 11vw;
    }

    .page-gallery .upper h2 {
        font-size: 4.5vw;
        margin-top: 3vw;
        margin-bottom: -11vw;
    }

    .page-gallery .mid {
        height: 30vh;
    }

    .page-gallery .down {
        height: 120vh;
    }

    .page-gallery .down .cont {
        flex-direction: column;
    }

    .page-gallery .down .cont .txt1 {
        width: 100%;
        margin-top: 2vw;
    }

    .page-gallery .down .cont .txt1 h2 {
        font-size: 5vw;
        margin-top: 6vw;
    }

    .page-gallery .down .cont .txt1 p {
        font-size: 3.8vw;
        font-weight: 100;
        line-height: 4.2vw;
        margin-top: 2vw;
    }

    .page-gallery .down .cont .txt2 {
        width: 100%;
    }

    .page-gallery .down .cont .txt2 .heading h3 {
        font-size: 4vw;
    }

    .page-gallery .down .cont .txt2 .details {
        margin-top: 4.5vw;
    }

    .page-gallery .down .cont .txt2 .details i {
        font-size: 3.5vw;
    }

    .page-gallery .down .cont .txt2 .details p {
        font-size: 3.8vw;
    }

    .page-gallery .down .cont .txt2 .social {
        margin-top: 2vw;
    }

    .page-gallery .down .cont .txt2 .social h3 {
        font-size: 4vw;
    }

    .page-gallery .down .cont .txt2 .social .links i {
        font-size: 3.5vw;
    }


    .page-gallery .end .upper {
        height: 40vh;
    }

    .page-gallery .end .upper h1 {
        font-size: 11vw;
    }












    .page4 {
        min-height: 40vh;
    }

    .page4 .upper {
        height: 20vh;
        margin-top: 15vw;
    }

    .page4 .upper h1 {
        font-size: 11vw;
    }

    .page4 .upper h2 {
        font-size: 4.5vw;
        text-align: center;
        margin-top: 3vw;
        margin-bottom: -11vw;
    }

    .page4 .down {
        flex-direction: column;
    }

    .page4 .down .down-left {
        width: 100%;
    }

    .page4 .down .down-right {
        width: 100%;
    }

     .page4 .down .down-right .txt {
        height: 30%;
        margin-top: 10vw;
     }

    .page4 .down .down-right .txt h2 {
        font-size: 6vw;
        text-align: center;
    }

    .page4 .down .down-right .txt h3 {
        font-size: 3.2vw;
        text-align: center;
        width: fit-content;
    }

    .page4 .end1 {
        height: 15vh;
    }

    .page4 .end1 .txt-up h3 {
        font-size: 3vw;
    }

    .page4 .end1 .txt-down h3 {
        font-size: 2.8vw;
    }
}